{% extends 'capacitive_equipment/base_calc_capacitive.html' %}
{% load static %}

{% block title %}Обсчет{% endblock %}

{% block сalc_сapacitive_main %}
    <p>Наименование: {{ object.name_equipment }}</p>
    <p>Тип аппарата: {{ object.type_equipment }}</p>
    <p>Наряд-заказа №: {{ object.calc_number }}</p>
    <p>Автор: {{ object.author }}</p>
    <p>Время создания: {{ object.created_date|date:"d-m-Y H:i" }}</p>
    <a class="" href="{% url 'update_name_calc_capac' object.pk %}">Редактировать обсчет</a>

    {% if object.parameters %}
        <a class="" href="{% url 'detail_parameter_calc_capac' object.pk %}">Параметры обсчета</a>
    {% else %}
        <a class="" href="{% url 'add_parameter_calc_capac' object.pk %}">Добавить параметры обсчета</a>
    {% endif %}

    <p>___________________________________________________</p>
{% endblock %}