{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <p class="lead mt-5">Сайт создан для облегчения рабочих моментов в жизни инженера.</p>
        <h1 class="display-6 rounded text-center" style="background-color: #d2e3ff;">Страница "Стандарты"</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Рамеры ГОСТ, АТК онлайн (Online)</li>
                        <li>Позволяет быстро найти нужное изделие</li>
                        <li>Позволяет быстро посмотреть размеры и массу</li>
                        <li>Ходовые стандарты в одном месте</li>
                        <li>Вся нужная информация перед глазами</li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled">
                <li><strong>Стандарты добавлены:</strong></li>
                <li>Фланцы
                    <ul>
                        <li>ГОСТ 33259-2015</li>
                        <li>АТК 26-18-13-96</li>
                        <li>ГОСТ 28759.3-2022</li>
                    </ul>
                </li>
                <li>Заглушки
                    <ul>
                        <li>АТК 24.200.02-90</li>
                        <li>АТК 26-18-5-93 (поворотные)</li>
                    </ul>
                </li>
                <li>Днища
                    <ul>
                        <li>ГОСТ 6533-78</li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled">
                <li><strong>Возможные обновления:</strong></li>
                <li>
                    <ul>
                        <li>Добавление новых стандартов (предложите в обратную связь)</li>
                        <li>Добавление функции "сравнить фланец"</li>
                        <li>Обновление расположения размеров (на чертеже)</li>
                        <li>Добавление обозначения изделия по стандарту</li>
                    </ul>
                </li>
            </ul>
        </div>


        <h1 class="display-6 rounded text-center" style="background-color: #d2e3ff;">Страница "Создать обсчет"
            <small class="text-muted">(в разработке)</small>
        </h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>Позволяет предварительно посчитать массу, количество фланцев (DN/PN/тип), общие габариты, группу и т.д.
                оборудования для переработки и хранения нефтехимических и прочих продуктов. После выбора всех параметров
                позволяет сформировать отчет.
            </p>
            <ul class="list-unstyled">
                <li><strong></strong></li>
                <li>
                    <ul>
                        <li>Предварительный обсчет аппаратов, сосудов онлайн</li>
                        <li>Автоматизация рутинной работы всех инжиниринговых компаний по разработке КД на сосуды и
                            аппараты
                        </li>
                        <li>Настройка обсчетов под определенную компанию</li>
                        <li>Конфиденциальность</li>
                    </ul>
                </li>
            </ul>
        </div>


        <h1 class="display-6 rounded text-center" style="background-color: #d2e3ff;">Страница "Калькуляторы"</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>Узконаправленные калькуляторы<small class="text-muted"> (в разработке)</small></p>
            <ul class="list-unstyled">
                <li><strong></strong></li>
                <li>
                    <ul>
                        <li>Определение группы аппарата по ГОСТ 34347-2017</li>
                        <li>Термообработка обечайки по ГОСТ 34347-2017</li>
                        <li>Категория сосуда по ТР ТС 032/2013</li>
                        <li>Группа среды по ТР ТС 032/2013</li>
                        <li>Класс опасности по ГОСТ 12.1.007-76</li>
                    </ul>
                </li>
            </ul>
            <p>Калькуляторы металлопроката</p>
            <ul class="list-unstyled">
                <li><strong></strong></li>
                <li>
                    <ul>
                        <li>Уголок</li>
                        <li>Труба</li>
                        <li>Швеллер</li>
                        <li>Лист</li>
                        <li>Профильная труба</li>
                        <li>И другие</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
