{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-6 my-5"><strong>Добро пожаловать на сайт!</strong></h1>
        <h6 style="text-indent: 25px;">Мы рады предоставить Вам доступ к самой полезной информации, которая поможет Вам
            в решении задач в области инженерии.</h6>
        <h6 style="text-indent: 25px;">На нашем сайте Вы найдете онлайн калькуляторы, которые помогут Вам рассчитать не
            только объем и массу, но и
            другие характеристики. Кроме того, мы предоставляем узконаправленные калькуляторы, которые помогут Вам
            решить конкретные задачи в области инженерии.</h6>
        <h6 style="text-indent: 25px;">Наш сайт создан специально для Вас, чтобы Вы могли получить максимальную пользу и
            удобство при решении задач в области инженерии. Мы уверены, что наши калькуляторы и информационные материалы
            станут неотъемлемой частью Вашей работы и помогут Вам достичь новых высот в профессиональной деятельности.</h6>
        <h6 style="text-indent: 25px;">Присоединяйтесь к нам уже сегодня и получите полный доступ к самой полезной
            информации в области инженерии!</h6>
        <div>
{% endblock %}