{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="container my-4">
        <h1 class="display-6 text-center"><strong>Добро пожаловать!</strong></h1>
        <img class="mx-auto d-block img-fluid" src="{% static 'images/home/home_logo.png' %}"
             alt="Логотип">
        <div class="container col-12 col-md-8 my-3 shadow p-3 mb-5 rounded">
            <h6 style="text-indent: 25px;">
                Мы рады предоставить Вам доступ к полезной информации, которая поможет Вам в решении задач в области
                инженерии.
            </h6>
            <h6 style="text-indent: 25px;">
                На нашем сайте Вы найдете онлайн калькуляторы, которые помогут Вам рассчитать не
                только массу, но и другие характеристики.
                {#            Кроме того, мы предоставляем узконаправленные калькуляторы, которые помогут Вам#}
                {#            решить различные задачи.#}
            </h6>
            <h6 style="text-indent: 25px;">
                Наш сайт создан специально для Вас, чтобы Вы могли получить максимальную пользу и удобство при
                решении своих задач. Мы уверены, что наши информационные материалы станут неотъемлемой частью Вашей
                работы и помогут Вам достичь новых высот в профессиональной деятельности.
            </h6>
            <h6 style="text-indent: 25px;">
                Присоединяйтесь к нам уже сегодня и получите полный доступ к самой полезной информации!
            </h6>
            <h6 class="text-center">
                Дальше — больше!
            </h6>
        </div>
    </div>

{% endblock %}