{% extends 'calculator_weight/all_calculator_weight.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Масса швеллера{% endblock %}

{% block calculator_main %}
    <h5 class="text-center mb-3">Двутавр</h5>
    <div class="col-md-4 col-xl-2 mx-auto" style="position: relative; font-size: 0.929rem">
        <img id="id_image" src="{% static 'images/calculator_weight/i_beam.png' %}">
        <span id="id_height"
              style="position: absolute; left:-27px; width: 40px; top:60px; text-align: center">h</span>
        <span id="id_width"
              style="position: absolute; left:83px; width: 30px; bottom:5px; text-align: center">b</span>
        <span id="id_thickness"
              style="position: absolute; left:130px; width: 30px; top:53px; text-align: center">s</span>
        <span id="id_thickness_t"
              style="position: absolute; left:200px; width: 30px; bottom:30px; text-align: center">t</span>
    </div>

    <form class="col-md-5 col-xl-3 mx-auto" id="id_form" method="GET">
        <div class="my-4">
            {{ form | crispy }}
        </div>
        <p id="id_calc_result">Выберите значения</p>
        <button class="btn btn-success my-3 d-grid mx-auto" type="submit">Рассчитать массу</button>
    </form>
    <div class="p-3 mb-2 bg-light text-dark rounded">
        <ul class="list-unstyled">
            <li>Калькулятор веса двутавра использует для расчета табличные значения в соответствии со следующми ГОСТ:
                <ul>
                    <li>«ГОСТ 8239-89 Двутавры стальные горячекатаные». Используется для классификации балок с уклоном
                        внутренних полок.</li>
                    <li>«ГОСТ 26020-83 Двутавры стальные горячекатаные с параллельными гранями полок»</li>
                </ul>
            </li>
            <li>Двутавры с параллельными гранями полок имеют следующие разновидности и соответствующие обозначения:
                <ul>
                    <li><strong>Б</strong> – нормальные;</li>
                    <li><strong>Ш</strong> – широкополочные;</li>
                    <li><strong>К</strong> – колонные;</li>
                    <li><strong>Д</strong> – дополнительной серии;</li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $('#id_type').change(function () {
            $.ajax({
                type: "GET",
                data: {'type': $("#id_type option:selected").val()}, // получаем данные формы
                url: "{% url 'get_values_beam' %}",
                success: function (response) {
                    $('#id_name').empty()
                    $('#id_name').append($('<option>', {
                        value: 'None',
                        text: 'Выберите тип'
                    }));
                    for (let i = 0; i < response.channel_name_option.length; i++) {
                        $('#id_name').append($('<option>', {
                            value: response.channel_name_option[i],
                            text: response.channel_name_option[i]
                        }));
                    }

                }
            });

        });

        $('#id_form').submit(function (event) {
            // предотвращение действий по умолчанию
            event.preventDefault();
            var data = $(this).serialize();
            $.ajax({
                type: "GET",
                url: "{% url 'beam' %}",
                data: data,
                success: function (response) {
                    let res_el = document.getElementById("id_calc_result");
                    res_el.innerHTML = `<p><strong>Масса ${response.weight} кг</strong></p>` // масса двутавра
                    let image = document.getElementById("id_image");
                    image.setAttribute("src", "{% static 'images/calculator_weight/i_beam.png' %}")
                    $("#id_height").text(response.values["height"]);
                    $("#id_width").text(response.values["width"]);
                    $("#id_thickness").text(response.values["thickness"]);
                    $("#id_thickness_t").text(response.values["thickness_t"]);
                }
            });
        });

    </script>
{% endblock %}
