{% extends 'calculator_weight/all_calculator_weight.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Масса уголка равнополочного{% endblock %}

{% block javascripts %}

    <script>

        $('#form').submit(function (event) {
            // предотвращение действий по умолчанию
            event.preventDefault();
            var data = $(this).serialize();
            $.ajax({
                type: "GET",
                url: "{% url 'corner_equal' %}",
                data: data,
                success: function (response) {
                    var res_el = document.getElementById("calc_result");
                    var weight = response.weight
                    // res_el.innerHTML = '<p><strong>Масса ' + weight + ' кг</strong></p>'
                    res_el.innerHTML = `<p><strong>Масса ${weight} кг</strong></p>`
                }
            });
        });

    </script>

{% endblock %}

{% block calculator_main %}
    <img src="{% static 'images/calculator_weight/corner.png' %}" class="mx-auto d-block align-middle"
         alt="Уголок равнополочный">
    <form id="form" method="GET">
        <div class="mt-5">
            {{ form | crispy }}
        </div>

        <p id="calc_result">Введите значения в миллиметрах</p>

        <button class="btn btn-success my-3 d-grid mx-auto" type="submit">Рассчитать массу</button>
    </form>
{% endblock %}